<section class="messages">
	<article class="message">

		<header class="group">
			<div class="message-thumb">
				<a href="#"><img src="http://2.bp.blogspot.com/-TltX5DwBl7o/UEulpNr4JuI/AAAAAAAAABI/lPg1R1GUbeM/s1600/bunny.jpg" alt=""></a>
			</div>
			<div class="message-info">
				<h2><a href="#"><%= User.find(message.user_id).full_name %></a></h2>
			</div>
		</header>

      <div class="message-body">
        
        <p><%= message.body %></p>
      
      </div>
   

	</article>

</section> 


