


<div class="profile-main-container">

	<div class="profile-header"> 
		<div class="inner-profile-header">
			<div class="navbar">
			  <div class="navbar-inner">
			    <ul class="nav">
			      <li><a href="/users/<%= current_user.id %>">Profile</a></li>
			      <li><a href="/users/<%= current_user.id %>">Friends</a></li>
			      <li><a href="/users/<%= current_user.id %>">Inbox</a></li>
			    </ul>
			  </div>
			</div>

		</div> <!-- end inner-profile-header --> 
	</div> <!-- end profile-header --> 


	<div class="profile-body">
		<div class="inner-profile-body">

			<% @conversations.each do |convo| %>
				<% convo.each do |mess| %>
					<%= render partial: "message", locals: {message: mess} %>
				<% end %> 
			<% end %> 
		
			

		</div> <!-- end inner-profile-body --> 
	</div> <!-- end profile-body --> 

</div> <!-- end profile-main-container --> 