<div class="profile-main-container">

	<div class="profile-header"> 
		<div class="inner-profile-header">
			<div class="navbar">
			  <div class="navbar-inner">
			    <ul class="nav">
			      <li><a href="/users/<%= current_user.id %>">Profile</a></li>
			      <li><a href="/users/<%= current_user.id %>">Friends</a></li>
			      <li><a href="/users/<%= current_user.id %>">Inbox</a></li>
			    </ul>
			  </div>
			</div>

		</div> <!-- end inner-profile-header --> 
	</div> <!-- end profile-header --> 


	<div class="profile-body">
		<div class="inner-profile-body">


			<div class="profile-left-column">
				<div class="profile-left-column-inner">
					<div class="main-profile-pic">
						<img src="http://t0.gstatic.com/images?q=tbn:ANd9GcRwxkklltP_htJ_fBs36aCddbQImIc191t-ChQrNnwcGbYeIOMO" />
					</div> 




				</div> <!-- end profile-left-column-inner --> 
			</div> <!-- end profile-left-column --> 



			<div class="profile-right-column">
				<div class="friend-request-container">
					<%= render partial: "friend_requests/request" %>
				</div>

			</div> <!-- end profile-right-column --> 

		</div> <!-- end inner-profile-body --> 
	</div> <!-- end profile-body --> 

</div> <!-- end profile-main-container --> 


