
<% unless current_user.id == params[:id].to_i %>
	<% if current_user.friend_ids.include?(params[:id].to_i) %>
		<button class="btn btn-danger">Defriend</button>
	<% else %>
		<div class="the-friending-button">
			<%= form_for(FriendRequest.new, html: {id: "friend-request"}) do |f| %>
				<%= hidden_field_tag "friend_request[user_id]", current_user.id %>
				<%= hidden_field_tag "friend_request[requestee_id]", params[:id] %>
				<%= f.submit "Friend" %>
			<% end %>
		</div>
<!-- 		<button class="btn btn-danger" id="friend-request-<%#= params[:id] %>">Friend</button> -->
	<% end %> 
<% end %> 


<script> 

	$(document).ready(function () {

		// $("#friend-request-<%#= params[:id] %>").on("click", function () {
		// 	console.log("clicked!");
		// });

		$("#friend-request").on("submit", function (event) {

			event.preventDefault();

			$.post(
				$("#friend-request").attr("action"),
				$("#friend-request").serialize(),
				function(data) {
					$(".the-friending-button").addClass("invisible");
				}
			);

		});

	});


</script> 