/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";


body {
	width : 100%;
	margin: 0 0 0 0;
	background-color: #ADA4A3;
}

header {
	width : 100%;
	background-color: #383033;
	padding: 0 0 0 0;
}

.main-header-container {
	height : 50px;
	margin : auto;
}

#logo-container {
	float : left ;
	padding-left: 10px;
	padding-top: 15px;
}

#main-logo {
	color : white;
	font-size: 30px;
	font-family: Arial bold;
	margin: auto;
}

#main-nav-container {
	float : right;
	padding-right: 20px;
	padding-top: 10px;
}

ul.hmenu {
	list-style: none;	
	margin: 0 0 2em;
	padding: 0px;
}

ul.hmenu li {
	display: inline;  
}

ul.hmenu li a {
	text-decoration: none;
	color : white;
}

.main {
	width: 1000px;
	margin: auto;
	background-color: white;
}


.main-body {
	
}