/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";


html, body, div, a, p, img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {
	width : 100%;
	margin: 0 0 0 0;
	background-color: #ADA4A3;
}

header {
	width : 100%;
	background-color: #383033;
	padding: 0 0 0 0;
}

.main-header-container {
	height : 50px;
	margin : auto;
}

#logo-container {
	float : left ;
	padding-left: 10px;
	padding-top: 15px;
}

#main-logo {
	color : white;
	font-size: 30px;
	font-family: Arial bold;
	margin: auto;
}

#main-nav-container {
	float : right;
	padding-right: 20px;
	padding-top: 10px;
}

ul.hmenu {
	list-style: none;	
	margin: 0 0 2em;
	padding: 0px;
}

ul.hmenu li {
	display: inline;  
}

ul.hmenu li a {
	text-decoration: none;
	color : white;
}

.main {
	width: 1000px;
	margin: auto;

}

a {
	cursor: hand; 
	cursor: pointer
}

#friend-request-pending {
	font-size: 15px;
}

/* Sign In Page */

.sign-in-container {
	width: 600px;
	margin :auto;
	background-color: white;
	position : relative;
	margin-top: 100px;
}


.inner-sign-in-container {
	margin :auto;
}

.invisible {
	visibility: hidden;
}

/* End Sign In Page */


/* Profile Page */

.profile-main-container {
	margin :auto;
	position : relative;
	margin-top: 100px;
	background-color: white;
	height: 1000px;
}

.profile-body {

}

.inner-profile-body {

}

.profile-left-column {
	width : 400px;
	height : 700px;
	float: left;
	margin-left :20px;
	border: 1px solid black;
}

.profile-left-column-inner {
	margin : auto;
}

.main-profile-pic {
	margin : 2px;
	border: 1px solid black; 
}

.profile-right-column {
	width : 500px;
	height : 900px;
	float: left;
	padding-left: 20px;
	margin :20px;
	border: 1px solid black;
}

.friend-request-container {
	float : right;
	padding-right: 10px;
	padding-top: 5px;
}

/* End Profile Page */